* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(255, 225, 221);
  height: 100vh;
  display: grid;
  place-items: center;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  width: 100%;
  height: 70%;
  margin: auto;
  padding: 8rem 4rem;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 8px;
}
input {
  padding: 1rem;
  outline: none;
  border: 1px solid beige;
  border-radius: 5px;
}
button {
  background-color: rgb(106, 0, 255);
  border-radius: 5px;
  width: 12rem;
  color: white;
  align-self: center;
  font: 400 1rem sans-serif;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
}

.error {
  color: red;
  font-size: 0.7rem;
  text-align: right;
  margin: 1rem;
}
